/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Fira+Code&display=swap');

$font-family-sans-serif: 'Inter', sans-serif;
$code-font-family: 'Fira Code', monospace;
$presentation-heading-font: 'Inter', sans-serif;
$presentation-font-size-root: 36px;